body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  display: list-item;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(95, 95, 196);
  background: whitesmoke;
  border-radius: 5px;
  color: rgb(32, 32, 170);
}

button {
  padding: 10px 20px;
  border: 1px solid rgb(167, 167, 202);
  color: rgb(32, 32, 170);
  font-weight: bold;
  background: white;
  border-radius: 5px;
}

button:hover {
  background: rgb(195, 171, 245);
}

#delete_btn {
  color: rgb(32, 32, 170);
  background: whitesmoke;
}

#delete_btn:hover {
  background: rgb(195, 171, 245);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

li {
  margin-top: 2px;
}

a {
  color: rgb(37, 37, 179);
}
